<head>
  <style>
    

  </style>
</head>
<div id="<%= dom_id task %>" >
  <li>
    <%= task.title %>
    <%= task.starting_time %>
    <%= task.ending_time %>
    <%= task.repeat_schedule%>
    <%= task.subtask_title %>
  <li>
  
</div>
