<head>
  <style>
    .timeblock {
      width: calc((100% - 32px * 6) / 7);
      align: center;
      color: black; 
      margin-left: 7px;
      border-radius: 8px;
      background-color: orange;
    }

  </style>
</head>
<div id="<%= dom_id task %>" >
  <% if calculate_height(task.starting_time, task.ending_time) < 45 %>
    <div class="timeblock" style=" height: <%= calculate_height(task.starting_time, task.ending_time) %>px; margin-top: <%= calculate_margin_to_baseline(@smallest_value, task.starting_time) %>px">
      <%= task.title %>
      <%= task.starting_time %>
    </div>
  <% else %>
    <div class="timeblock" style="height: <%= calculate_height(task.starting_time, task.ending_time) %>px; margin-top: <%= calculate_margin_to_baseline(@smallest_value, task.starting_time) %>px">
        <%= task.title %>
        <p style="margin: 0"><%= task.starting_time %> - <%= task.ending_time %></p>
    </div>
  <% end %>
</div>
