<%= form_with(model: subtask) do |form| %>
  <% if subtask.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
        <% subtask.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :left_of_at, style: "display: block" %>
    <%= form.text_field :left_of_at %>
  </div>

  <div>
    <%= form.label :finished, style: "display: block" %>
    <%= form.check_box :finished %>
  </div>

  <div>
    <%= form.label :make_later, style: "display: block" %>
    <%= form.text_field :make_later %>
  </div>

  <div>
  <%= form.label :task_id, "Assign to Task" %>
  <%= form.collection_select :task_id, Task.where(user: current_user), :id, :title, prompt: "Select a Task" %>
</div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
