<div id="<%= dom_id subtask %>">
  <p>
    <strong>Title:</strong>
    <%= subtask.title %>
  </p>

  <p>
    <strong>Left of at:</strong>
    <%= subtask.left_of_at %>
  </p>

  <p>
    <strong>Finished:</strong>
    <%= subtask.finished %>
  </p>

  <p>
    <strong>Make later:</strong>
    <%= subtask.make_later %>
  </p>

</div>
