<style>
    .task-title {
        cursor: pointer;
        font-size: 20px;
        
    }

    .task-container {
        padding: 8px 16px;
        margin-bottom: 32px;
    }

    .create-subtask-button {
        font-size: 16px;
        margin-top: 4px;
      text-decoration: none; 
      padding: 8px 16px;
      border: none;
      color: white;
      border-radius: 8px;
      display: flex;
      background-color: black;
        display: inline-block;
    }
    .subtask-container {
        display: flex;
        gap: 4px;
        height: 32px;
        border: none;
    }

    .finished-button {
        background-color: transparent;
        border: none;
    }
</style>

<% @tasks.each do |task| %>
    <% if task.repeat_schedule.include?((@day_index-1).to_s) && task.user == current_user %>
        <li>
            <div style="background-color: <%= task.color %>; border:none; border-radius: 8px;" class="task-container">
                <p onclick="window.location.href='/tasks/<%= task.id %>';" class="task-title"><%= task.title %></p>
                <p style="border-bottom: 1px solid black; padding-bottom: 2px;">  <%= task.starting_time %> - <%= task.ending_time %> </p>
                
                <div style="margin-top: 4px">
                <% if !task.subtask_title %>
                    <%= link_to 'Add Subtask', edit_subtask_task_path(task), class: 'create-subtask-button' %>
                <% else %>
                    <div class="subtask-container" >
                        <%= button_to toggle_finished_subtask_path(task), method: :patch, class: "finished-button" do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                            </svg>
                        <% end %>

                        <p style="padding-top: 1px;"><%= task.subtask_title %></p>
                    </div>
                    

                <% end %>

                <% if task.subtask_finished %>
                    <%= link_to 'Add New Subtask', edit_subtask_task_path(task), class: 'create-subtask-button' %>
                <% end %>
                </div>
            </div>
        </li>
    <% end %>
<% end %>

