<style>
  .workspace{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%; 
    gap: 64px;
  }
  .task {
    height: 40px;
    padding-left: 8px;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
    display: flex;              /* Flexbox aktivieren */
    align-items: center;        /* Vertikale Zentrierung */
    justify-content: flex-start; /* Text linksbündig halten */
}

  .editor-js{
    background-color: cyan;
  }
</style>
<%= javascript_include_tag "editor_controller" %>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.28.2"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.8.1"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@1.9.0"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@2.9.0"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@2.11.3"></script>



<div class="workspace">
  <div class="tasks-container">
    <% @tasks.each do |task| %>
      <p class="task" style="background-color: <%= task.color %>"><%= task.title %><p>
    <% end %>
  </div>
  
    <div class="text-editor">
      <% @tasks.each do |task| %>
        <div id="editorjs-<%= task.id %>" class="editor-js" data-task-id="<%= task.id %>" style="..."></div>
      <% end %>
    </div>

    <div class="table-of-contents">
      <% @tasks.each do |task| %>
        <p style="background-color: <%= task.color %>">Beispiel</p>
      <% end %>
    </div>

</div>
